/* Color Pallete:
coolors.co
Corn - #E7E247
Black Olive - #3D3B30
Independence - #4D5061
Illuminating Emerald - #1A936F

Morning Blue - #93B1A7 */
/* Fonts:
font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif; */

/* Sidebar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #f5f6fa;
}

.wrapper .sidebar{
  /* background: rgb(5, 68, 104); */
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
    border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

/* Sidebar - Pseudo */
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;

  background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  /* background: rgb(7, 105, 185); */
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(11,11,108,1) 11%, rgba(138,51,191,1) 71%, rgba(0,212,255,1) 100%);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #a2ecff;
}

 .wrapper .section .container{
  margin: 30px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}

/* Section Headings */
.sectionHeading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Summary  */
.summaryHeading {
  margin-bottom: 14px;
}

/* Education */
.educationHeading {
  margin: 24px 0px 14px 0px;
}

/* Experience */
.experienceHeading {
  margin: 24px 0px 14px 0px;
}
ul.experienceList {
  margin-left: 25px;
}
ul.experienceList li {
  list-style-type: circle;
}

/* Skills Section */
.skillsHeading {
  margin: 24px 0px 14px 0px;
}
ul.skillsList {
  margin-left: 25px;
}
ul.skillsList li {
  list-style-type: circle;
}